:host {
  display: inline-block;
  padding: 0.65rem 1.35rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #691ebe;
  color: white;
  border: none;
}

:host:hover {
  background-color: #551b98;
  /* transform: translateX(4px);
  transition: transform 0.2s ease-in-out; */
}

:host:hover {
  transform: translateX(4px);
  transition: transform 0.2s ease-in-out;
}

/* :host:hover span.button-icon {
  transform: translateX(4px);
  transition: transform 0.2s ease-in-out; */
/* } */

/* :host:hover span.button-icon {
  /* display: inline-block; Ensure transform works 
  margin-left: 0.5rem;
  transition: transform 0.2s ease-in-out;
} */

/* :host:hover .button-icon {
  transform: translateX(4px);
  transition: transform 0.2s ease-in-out;
} */
