<!-- BELOW SECTION IS KEPT FOR REFERENCE - USED TO DEMO SINGGLE RANDOM USER AND SIGNAL VS GETTER -->
<!-- <div> -->
<!-- comment: if you do <button () and place cursor in parenthesis, then click ctrl + space to see list of listeners -->
<!--<button (click)="onSelectUser()">-->
<!-- comment: note that imagePath is a getting in .ts so no need to () at the end. click above needs the () so was jsut imagePath-->
<!-- the () is for when using signals, for a getting there is no need for ()-->
<!-- <img [src]="imagePath()" [alt]="selectedUser().name" /> -->
<!--comment: the () dereferences the signal-->
<!--comment: the [] binds the src attribute to the selectedUser.avatar property which can be dynamic-->
<!-- <span>{{ selectedUser().name }}</span -->
<!--comment: Interpolation can be used for constant content-->
<!--</button> -->
<!--</div> -->

<!------------------------------------------------------------------>

<!-- BELOW IS CODE FOR MULTIPLE USERS AND INPUT VIA THE COMPONENT HTML-->
<!-- name() / imgeaPath() is used with signals, name / imagePath is used with @INput-->
<!-- tHIS IS THE HTML FOR SIGNAL: SEE .TS FILE FOR USER -->
<!-- <div>
  <button (click)="onSelectUser()">
    <img [src]="imagePath()" [alt]="name()" />
    <span>{{ name() }}</span>
  </button>
</div> -->

<!------------------------------------------------------------------>

<!-- THIS IS THE HTML FOR @Input. SEE .TS FILE FOR USER -->
<!-- [class.active]="selected"  binds a class to a items dynamically-->
<app-card>
  <button [class.active]="selected" (click)="clickOnUser()">
    <img [src]="imagePath" [alt]="user.name" />
    <span>{{ user.name }}</span>
  </button>
</app-card>

<!------------------------------------------------------------------>
