<div class="backdrop" (click)="onCancelAddTask()"></div>
<dialog open>
  <h2>Add Task</h2>
  <form (ngSubmit)="addNewTaskEmitter()">
    <p>
      <label for="title">Title</label>
      <!-- ngModel is is angular directives,they dont have a template -->
      <!-- Components are directives... with templates -->
      <!-- Two way binding with [()] can be used with ngModel but not all properties -->
      <!-- ngModel can be  used in inputs to catch data, misc.  -->
      <!-- two way binding allows to listen for data and write data to input -->

      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle" />
    </p>

    <p>
      <label for="summary">Summary</label>
      <textarea
        id="summary"
        rows="5"
        name="summary"
        [(ngModel)]="enteredSummary"
      ></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <input
        type="date"
        id="due-date"
        name="due-date"
        [(ngModel)]="enteredDueDate"
      />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancelAddTask()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>
